*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

/*start of hero*/

.herocontainer{
    background: url(img/headphones_hero_1.jpg) no-repeat center center/cover;
    min-height: 100vh;
}

.herocontainer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo{
    height: 30px;
}

nav ul {
list-style: none;
display: flex;
gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
    transition: 1ms;
}

nav ul li a:hover{
    color: #eb4141;
}

.introcontainer{
    text-align: center;
    padding: 200px 20px 60px;
}

.introcontainer h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: whitesmoke;
}

.introcontainer p{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.butt{
    background: rgb(221, 83, 83);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin: 40px 0px 10px 0px;
    
}

.butt:hover{
    background: rgb(145, 68, 68);
}

.writeupcontainer{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;
}

/*--------------Start of what we do container------------*/


.Containerniche {
    text-align: center;
}

.Containernichehp {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
}

.Containernichehp h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.Containernichehp p{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.Containerniches{
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 70px auto;
    
    gap: 20px;
}

.Containerniches h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.Containerniches h4{
    margin-bottom: 20px;
}

.Containerniches p{
    font-size: 15px;
    font-weight: lighter;
}


/*--------------start our result container------------*/

.hero2container{
 background: url(img/headphones_hero_2.jpg) no-repeat center center/cover;
 min-height: 100vh; 
}

.hero2containerhp{
    color: whitesmoke;
    text-align: center;
    max-width: 700px;
    margin: 40px auto;
    padding-top: 150px;
}

.hero2containerhp h1{
 margin-bottom: 30px;
}

.pentagon-container {
    display: flex; 
    justify-content: center;
    padding-bottom: 20px;
}

.pentagon-item {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.pentagon-shape {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    padding-top: 40px;
    background: linear-gradient(135deg, #f35742, #eb4141);
    display: grid;
    justify-content: center;
    align-items: center;
}

.pentagon-shape .content {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    
}

.description {
    color: #e9dada;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 20px;
}


/*--------------Start of contact us------------*/

.contactus{
   justify-items: center;
   align-items: center;
}

.contactus h1{
    margin: 50px 0px;
}

.inputtext{
    margin: 20px 0;
}

input{
    width: 30vw;
    height: 5vh;
}

textarea{
    width: 30vw;
    height: 20vh;
}

.cta{
    text-align: center;
}

.cta button{
    background: rgb(243, 68, 68);
    color: rgb(245, 241, 241);
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin: 25px auto;
}

/*--------------Start of footer------------*/

footer{
    background-color: rgb(4, 4, 34);
    padding: 10px 0;
    text-align: center;
}

.logoicon{
    display: flex;
    justify-content: space-around;
    line-height: 5em;
}

.icons img{
    background: #e9dada;
    border-radius: 60px;
    height: 30px;
    width: 30px;
}

footer p{
    color: #e9dada;
}